@import '../styles/constants.scss';

.root {
  width: 100%;
  height: 100%;
  background-color: #f2f2f2;
}

.navigationBar {
  position: relative;
  z-index: 9;
}

.contact {
  position: fixed;
  // top = 导航栏高度 + (整体高度 - 导航栏高度) / 2
  top: calc(#{$navigationBarHeight} + (100% - #{$navigationBarHeight})/2);
  right: 0;
  transform: translateY(-50%);
}
